<div class="container">
  <div class="first-margin default-top-padding box">
    <h2>Prestador</h2>
    <div class="row">
      <div class="col-6">
        <small>Nombre</small>
        <h3><%= @headquarter.name %></h3>
      </div>
      <div class="col-6">
        <small>Codigo</small>
        <h3><%= @headquarter.code %></h3>
      </div>
    </div>
  </div>
  <div class="default-top-padding box">
    <h2>Selecione la sede</h2>
    <div id="tabla">
      <div class="row">
        <div id="th" class="col-2">Accion</div>
        <div id="th" class="col-5">Nombre</div>
        <div id="th" class="col-5">Codigo</div>
      </div>
      <% @branchOffices.each do |branch| %>
          <div id="tr" class="row">
            <div id="td" class="col-2"><%= link_to "Show", headquarter_branch_office_path(branch.headquarter_id, branch.id) %></div>
            <div id="td" class="col-5"><%= branch.name %></div>
            <div id="td" class="col-5"><%= branch.code %></div>
          </div>
      <% end %>
    </div>
  </div>
</div>