<div class="container">
  <div class="first-margin default-top-padding box">
    <h2>Prestador</h2>
    <div class="row">
      <div class="col-6">
        <small>Nombre</small>
        <h3><%= @headquarter.name %></h3>
      </div>
      <div class="col-6">
        <small>Codigo</small>
        <h3><%= @headquarter.code %></h3>
      </div>
    </div>
  </div>
  <div class="default-top-padding box">
    <h2>Sede</h2>
    <div class="row">
      <div class="col-6">
        <small>Nombre</small>
        <h3><%= @branchoffice.name %></h3>
      </div>
      <div class="col-6">
        <small>Codigo</small>
        <h3><%= @branchoffice.code %></h3>
      </div>
    </div>
  </div>
  <div class="default-top-padding box">
    <input class="btn btn-primary my-3" type="submit" value="Nuevo equipo">
    <h2>Inventario de equipos</h2>
    <div id="tabla">
      <div class="row">
        <div id="th" class="col">Ubicacion</div>
        <div id="th" class="col">Equipo</div>
        <div id="th" class="col">Marca</div>
        <div id="th" class="col">Modelo</div>
        <div id="th" class="col">Serial</div>
        <div id="th" class="col">VS placa</div>
      </div>
      <div class="row">
        <div id="td" class="col">Consultorio 1</div>
        <div id="td" class="col">Tensiometro</div>
        <div id="td" class="col">Welch Allyn</div>
        <div id="td" class="col">Tycos</div>
        <div id="td" class="col">402241361</div>
        <div id="td" class="col">VS000025465</div>
      </div>

      <!--
      <% @locations.each do |location| %>
          <div id="tr" class="row">
            <div id="td" class="col-2"><%= link_to "Show", '#' %></div>
            <div id="td" class="col-10"><%= location.name %></div>
          </div>
      <% end %>-->
    </div>
  </div>
</div>